* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style-type: none;
   border: none;
   background: none;

   font-family: "Helvetica Neue", Helvetica, Arial;
}

main {

   max-width: 1200px;
   margin: 0 auto;
   text-align: center;

   h1 {
      font-weight: 700;
      font-size: 35px;
      line-height: 45px;
      color: #212121;
      text-align: center;
   }


   .products_wp {
      max-width: 1200px;
      margin: 0 auto;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;


      .product_cont {
         background: #F4F4F4;
         border: 1px solid #E8EDF2;
         border-radius: 16px;
         padding: 10px;
         height: auto;
         flex: 1 0 25%;
         max-width: 250px;
         text-align: center;

         img {
            height: 200px;
         }

         .product_name {
            font-size: 22px;
            font-weight: 700;
         }

         .btn_wp {
            display: flex;
            justify-content: space-between;
         }

         button {
            background: #117a9d;
            color: #fff;
            padding: 4px 10px;
            cursor: pointer;
            border-radius: 6px;
         }
      }
   }
}