header {
   max-width: 1500px;
   margin: 0 auto;
   background-color: #fff;
   margin-bottom: 22px;
   padding: 10px 20px;
   height: auto;
}


nav a {
   font-weight: 500;
   font-size: 19px;
   line-height: 24px;
   /* identical to box height, or 150% */
   padding-right:30px;

   /* Light / Black */

   color: #11263C;

}

main {
   max-width: 1800px;
   margin: 0 auto;
   padding: 0 20px;
}